
.popup-form button {
    padding: 10px 20px;
    background-color: #820005;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-form button:hover {
    background-color: #6d0004;
}